<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-docs">Planos</h1>

  <%= link_to ' Voltar', product_path(@plan.product), class: 'ls-ico-chevron-left ls-btn-primary' %>
  <%= link_to ' Editar', edit_product_product_plan_path(@plan), class: 'ls-ico-pencil2 ls-btn-primary' %>
  <%= link_to ' Cadastrar preço', new_product_plan_plan_price_path(@plan), class: 'ls-ico-plus ls-btn-primary' %>

  <div class="ls-box ls-board-box">
    <div class="description">
      <p class="padd title">Nome:</p>
      <p><%= @plan.name %></p>

      <p class="padd title">Produto:</p>
      <p><%= link_to @plan.product.name, product_path(@plan.product) %></p>

      <p class="padd title">Status:</p>
      <p><%= @plan.actual_status %></p>

      <h3 class="padd title">Preços Atuais:</h3>

      <% if @plan.plan_prices.blank? %>
        <p>Nenhum preço cadastrado para esse plano</p>
      <% else %>
        <table class="ls-table ls-table-striped ls-txt-center">
          <thead>
            <tr>
              <th>Preço</th>
              <th>Periodicidade</th>
            </tr>
          </thead>
          <tbody>
            <% @plan.last_prices.each do |price| %>
            <tr>
              <td><%= number_to_currency price.value %> </td>
              <td><%= price.periodicity.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <hr>
        <h3 class="padd">Histórico de Preços:</h3> 

        <table class="ls-table ls-table-striped ls-txt-center">
          <thead>
            <tr>
              <th>Preço</th>
              <th>Periodicidade</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <% @plan.plan_prices.order(id: :desc).each do |price| %>
            <tr>
              <td><%= number_to_currency price.value %> </td>
              <td><%= price.periodicity.name %></td>
              <td><%= I18n.l price.created_at, format: :short %></td>
            </tr>
            <% end %>
          </tbody>
        </table>        
      <% end %>
    </div>
  </div>
</div>