<div class="ls-box ls-board-box" >
  <% if @category.errors.any? %>
    <div class="ls-alert-danger ls-dismissable" role="alert">
      <span data-ls-module="dismiss" class="ls-dismiss">×</span>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
    <br>
  <% end %>
  <div class="ls-form">
    <%= form_for @category do |f| %>
      <div class="ls-label">
        <%= f.label :name, 'Nome', class: 'ls-label-text' %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="ls-label">
        <%= f.label :description, 'Descrição', class: 'ls-label-text' %>
        <%= f.text_area :description %>
      </div>
      <div>
        <%= f.submit 'Enviar', class: 'ls-btn-primary' %>
        <% if page == 'new' %>
        <%= link_to 'Cancelar', product_categories_path, class: 'ls-btn'  %>
        <% else %>
        <%= link_to 'Cancelar', product_category_path(@category), class: 'ls-btn'  %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
