<div class="ls-form row">
  <%= form_for @periodicity do |f| %>
    <div class="ls-label">
     <%= f.label :name, 'Nome', class: 'ls-label-text' %>
     <%= f.text_field :name %>
    </div>
    <div class="ls-label">
     <%= f.label :period, 'Período', class: 'ls-label-text' %>
     <%= f.number_field :period %>
    </div>
    <div>
      <%= f.submit 'Enviar', class: 'ls-btn-primary ls-float-right' %>
    </div>
  <% end %>
</div>
