<div class="ls-box ls-board-box" >
  <div class="ls-form">
    <%= form_for @product, url: form_url do |f| %>
      <div class="ls-label">
       <%= f.label :name,'Nome', class: 'ls-label-text' %>
       <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="ls-label">
        <%= f.label :status, 'Status', class: 'ls-label-text' %>
        <div class="ls-custom-select">
          <%= f.select(:status, [['Ativo', true], ['Inativo', false]]) %>
        </div>
      </div>
      <div class="ls-label">
        <%= f.label :description, 'Descrição Completa', class: 'ls-label-text' %>
        <%= f.text_area :description %>
      </div>
      <div class="ls-label">
        <%= f.label :product_key, 'Chave do Produto', class: 'ls-label-text' %>
        <%= f.text_field :product_key %>
      </div>
      <div class="ls-label">
        <%= f.label :contract, 'Contrato', class: 'ls-label-text' %>
        <%= f.text_area :contract %>
      </div>
      <div class="ls-label">
        <%= f.label :icon, 'Ícone', class: 'ls-label-text' %><br/>
        <div class="ls-custom-file-control  ">
          <%= f.file_field :icon %>
        </div>
      </div>
      <div>
        <%= f.submit 'Enviar', class: 'ls-btn-primary' %>
        <% if page == 'new' %>
        <%= link_to 'Cancelar', product_categories_path, class: 'ls-btn'  %>
        <% else %>
        <%= link_to 'Cancelar', product_path(@product), class: 'ls-btn'  %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>