<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-chevron-right">
    <%= @product.name %>
    <%= image_tag(@product.icon.url(:thumb)) %>
  </h1>

  <%= link_to 'Voltar', product_category_path(@product.product_category), class: 'ls-ico-chevron-left ls-btn-primary' %>
  <%= link_to 'Editar', edit_product_category_product_path(@product), class: 'ls-ico-pencil2 ls-btn-primary' %>
  <%= link_to 'Cadastrar plano', new_product_product_plan_path(@product.id), class: 'ls-ico-plus ls-btn-primary' %>

  <h2 class="padd">Descrição: <%= @product.description %></h2>

  <h2 class="padd">Categoria: <%= link_to @product.product_category.name, product_category_path(@product.product_category) %></h2>

  <h2 class="padd">Chave do produto: <%= @product.product_key %></h2>

  <h2 class="padd">Contrato: <%= @product.contract %></h2>

  <h2 class="padd">Status: <%= @product.actual_status %></h2>

</div>
