<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-domain">
    Produtos
  </h1>

  <%= link_to 'Voltar', product_category_path(@product.product_category), class: 'ls-ico-chevron-left ls-btn-primary' %>
  <%= link_to 'Editar', edit_product_category_product_path(@product), class: 'ls-ico-pencil2 ls-btn-primary' %>
  <%= link_to 'Cadastrar plano', new_product_product_plan_path(@product.id), class: 'ls-ico-plus ls-btn-primary' %>

  <div class="ls-box ls-board-box description">
    <p class="title">Nome:</p>
    <p><%= @product.name %></p>

    <p class="padd title">Ícone</p>
    <p><%= image_tag(@product.icon.url(:thumb), alt: 'Ícone') %></p>

    <p class="padd title">Status:</p>
    <p><%= @product.actual_status %></p>

    <p class="padd title">Descrição:</p>
    <p><%= @product.description %></p>

    <p class="padd title">Categoria:</p>
    <p><%= link_to @product.product_category.name, product_category_path(@product.product_category), class: 'ls-theme-gold' %></p>

    <p class="padd title">Chave do produto:</p>
    <p><%= @product.product_key %></p>

    <p class="padd title">Contrato:</p>
    <p><%= @product.contract %></p>

    <hr>
    <% if @plans.any? %>
    <h3 class="padd">Planos desse produto:</h3>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |plan| %>
        <tr>
          <td><%= link_to plan.name, product_plan_path(plan) %></td>
          <td><%= plan.actual_status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <p class="padd title">Nenhum plano cadastrado</p>
    <% end %>
  </div>
</div>
