<!DOCTYPE html>
<html class ="ls-theme-gold">
<head>
  <title>Locaweb - Produtos</title>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- full reload all pages -->
  <meta name="turbolinks-visit-control" content="reload">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <div class="ls-topbar">
    <!-- Barra de Notificações -->
    <div class="ls-notification-topbar">
      <% if user_signed_in? %>
      <!-- Dropdown com detalhes da conta de usuário -->
      <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
        <a href="#" class="ls-ico-user">
          <span class="ls-name"> <%= current_user.email  %> </span>
        </a>
        <nav class="ls-dropdown-nav ls-user-menu">
          <ul>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
      <% end %>
    </div>

    <span class="ls-show-sidebar ls-ico-menu"></span>

    <!-- Nome do produto/marca -->
    <h1 class="ls-brand-name">
      <a href=<%= root_path %> class="ls-ico-earth">
        <small>Locaweb</small>
        Produtos
      </a>
    </h1>
  </div>

  <main class="ls-main">
    <% if flash[:notice] %>
      <div class="ls-alert-success ls-dismissable" role="alert">
        <span data-ls-module="dismiss" class="ls-dismiss">×</span>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="ls-alert-warning ls-dismissable" role="alert">
        <span data-ls-module="dismiss" class="ls-dismiss">×</span>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="ls-alert-danger ls-dismissable" role="alert">
        <span data-ls-module="dismiss" class="ls-dismiss">×</span>
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
  </main>

  <!-- side panel -->
  <aside class="ls-sidebar">
    <div class="ls-sidebar-inner">
      <nav class="ls-menu">
        <% if user_signed_in? %>
        <ul>
          <li><a href=<%= periodicities_path %> class="ls-ico-week">Periodicidades</a></li>
          <li><a href=<%= product_categories_path %> class="ls-ico-multibuckets">Categorias</a></li>
          <li><a href=<%= products_path %> class="ls-ico-domain">Produtos</a></li>
          <li><a href=<%= product_plans_path %> class="ls-ico-docs">Planos</a></li>
        </ul>
        <% end %>
      </nav>
    </div>
  </aside>
</body>
</html>
